<div class="container">
  <article class="tile">
    <div class="username">
      User's Name #1
    </div>
    <div class="time">
      00:01
    </div>
  </article>
  <article class="tile">
    <div class="username">
      User's Name #2 but first
    </div>
    <div class="time">
      00:01
    </div>
  </article>
  <article class="tile">
    <div class="username">
      User's Name #3
    </div>
    <div class="time">
      00:01
    </div>
  </article>
  <article class="tile">
    <div class="username">
      User's Name #4
    </div>
    <div class="time">
      00:01
    </div>
  </article>
  <article class="tile">
    <div class="username">
      User's Name #5
    </div>
    <div class="time">
      00:01
    </div>
  </article>
</div>
